.activitie {
    text-align: center;
    background-color: #009926;
    color: #ffffff;

}

.noactivitie {
    text-align: center;
}

.leave {
    text-align: center;
    background-color: #990733;
    color: #ffffff;
}

.weekEnd {
    text-align: center;
    color: #990733;

}