<div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12">

        <h1 class="page-header"> Activities </h1>
    </div>

    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <form name="newFeed" novalidate>
        <div class="col-xs-12 col-md-3 col-lg-4">
            <div class="form-group">
                <input type="text" class="form-control" id="usr" ng-model="$ctrl.newActiv.title" required>
            </div>
        </div>
        <div class="col-xs-12 col-md-3 col-lg-3">
            <datepicker date-format="yyyy-MM-dd" selector="form-control" date-disabled-weekdays="[0,6]"
                        date-disabled-dates="{{$ctrl.disabledDates}}">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Date debut" ng-model="$ctrl.newActiv.startsAt"
                           ng-change="$ctrl.initDate()" required/>
        <span class="input-group-addon" style="cursor: pointer">
        <i class="fa fa-lg fa-calendar"></i>
        </span>
                </div>
            </datepicker>
        </div>

        <div class="col-xs-12 col-md-3 col-lg-3">
            <datepicker date-format="yyyy-MM-dd" selector="form-control" date-disabled-weekdays="[0,6]"
                        date-min-limit="{{$ctrl.newActiv.startsAt}}" date-disabled-dates="{{$ctrl.disabledDates}}">
                <div class="input-group">
                    <input class="form-control" placeholder="Date Fin" ng-model="$ctrl.newActiv.endsAt" type="text"
                           required/>
        <span class="input-group-addon" style="cursor: pointer">
        <i class="fa fa-lg fa-calendar"></i>
        </span>
                </div>
            </datepicker>
        </div>

        <div class="col-xs-12 col-md-3 col-lg-2">
            <button type="button" class="btn btn-success btn-circle" ng-click="$ctrl.addActivities()"
                    ng-disabled="!newFeed.$valid">
                <i class="fa glyphicon-plus"></i>
            </button>
        </div>
    </form>
</div>

<div class="row">

    <div class="col-xs-4 col-md-3 text-center">
        <div class="btn-group">
            <button class="btn btn-primary" ng-click="$ctrl.previousMonth()">
                <i class="nc-icon nc-stre-left"></i>
            </button>
        </div>
    </div>
    <div class="col-xs-4 col-md-4 text-center">
        <h2 style="  margin-top: 0px">{{ $ctrl.monthYears }}</h2>
    </div>
    <div class="col-xs-4 col-md-3 text-center">
        <div class="btn-group">
            <button class="btn btn-primary" ng-click="$ctrl.nextMonth()">
                <i class="nc-icon nc-stre-right"></i>
            </button>
        </div>
    </div>
    <div class="col-xs-4 col-md-2 text-center">
        <div class="btn-group">
            <button class="btn btn-primary" ng-click="$ctrl.changeView()">
                <i ng-if="$ctrl.changeViewIcon" class="glyphicon glyphicon glyphicon-th-list"></i>
                <i ng-if="!$ctrl.changeViewIcon" class="glyphicon glyphicon glyphicon-th"></i>
            </button>

        </div>
    </div>
</div>

<div class="row" ng-if="$ctrl.changeViewIcon">
    <div class="col-xs-12 col-md-12 col-lg-12">
        <calendarcomponent monthevents="$ctrl.monthevents"></calendarcomponent>
    </div>
</div>
<div class="row" ng-if="!$ctrl.changeViewIcon">
    <div class="col-xs-12 col-md-12 col-lg-12">
        <table class="table">
            <thead>
            <tr>
                <th>Titre activite</th>
                <th>Date debut</th>
                <th>Date Fin</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="activ in $ctrl.events">
                <td>{{activ.title}}</td>
                <td>{{activ.startsAt}}</td>
                <td>{{activ.endsAt}}</td>
                <td>
                    <button type="button" class="btn btn-danger btn-circle" ng-click="$ctrl.removeActivities($index)"><i
                            class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-success btn-circle" ng-click="$ctrl.removeEdit($index)"><i
                            class="fa fa-pencil"></i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
